@charset "utf-8";
/* CSS Document */

body {
	font-family: Calibri;
	font-size: 12px;
}
a{
	text-decoration: none;
	color: #333;
}
table.tablelist{
	font-size: 12px;
}
.tabletitle {
	background-color: #CCC;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}
.item{
	background-color: #EAEAEA;
}